<style>



body{
  background:white;
}

.imgcontainer {
  text-align: center;
  margin-top: 140px;
}

#picture2 {
   margin-top: -12px;
 }


div{
    font-size: 20px;
    word-spacing: 30px;
    font-family: Helvetica;
    letter-spacing:.1em;
    text-decoration: none;
    margin-top: 80px; 
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #330099;
}

a:hover{
  text-decoration: underline;
}

a:visited {
  opacity: 0.6;
}


.nav {
  font-size: 36px;
  word-spacing: 5px;
  font-family: Century Gothic;
  letter-spacing:.4em;
  margin-left: 190px;
}


h1 {
    text-align: center;
    margin-top: 0px;
}

h2 {
  font-size: 36px;
  word-spacing: 5px;
  font-family: Century Gothic;
  letter-spacing:.4em;
  margin-left: 120px;
}

h3 {
  font-size: 36px;
  word-spacing: 5px;
  font-family: Century Gothic;
  letter-spacing:.4em;
  margin-left: 120px;
}

h4 {
    text-align: center;
}

h5{
  position: absolute; 
  bottom: 0pt; right: 0pt
}

footer { 
    display: block;
    text-align: center;
    font-family: Helvetica;
    font-size: 14px;
}

</style>